<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delmont Fire and Safety Company in Dubai</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/essentials.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>

    <main>
        <%- include("./header") %>
            <div class="hero">
                <div class="hero-bg">
                    <img src="/images/homepage-img.jpg">
                </div>
                <div class="h1-wrapper ">
                    <h1>Welcome </h1>
                </div>
                <div class="h1-wrapper">
                    <h1>to delmont</h1>
                </div>
                <div class="p-wrapper">
                    <p>The best place to receive fast and professional fire safety solutions in Dubai, UAE</p>
                </div>
                <div class="buttons">
                    <a href="#section-2"><button>Our Services</button></a>
                    <a href="#"><button>book an appointment</button></a>
                </div>
            </div>
            <section>
                <div class="section-1">
                    <h1>DELMONT – FOR FIRE PROTECTION & SAFETY SOLUTIONS IN DUBAI, UAE</h1>
                    <p>Headquartered in Dubai UAE, Delmont Fire & Safety LLC is Dubai Civil Defence Approved, provider
                        of
                        fire safety equipment, systems and services. With a significant amount of experience and
                        expertise
                        in fire protection & detection systems, we offer solutions you can depend on. Delmont Fire &
                        Safety
                        is one of the leading fire protection and safety companies in Dubai, UAE. Our expertise is to
                        provide turn-key solutions for the Design, supply, installation & maintenance of firefighting
                        sprinkler systems, fire pump sets, External fire hydrant systems, Clean Agent fire suppression
                        systems, Fire Alarm Systems & Emergency Lighting Systems. Our goal is to provide excellent
                        service
                        to our customers through an amalgamation of qualified & experienced team with the latest
                        technology
                        advancements in the industry. Contact to fire and safety company in Dubai and make your home
                        safe
                        and secure.</p>
                </div>
                <div id="section-2" class="section-2">
                    <h1>Design services <i
                            style="display: inline-block;transform: translateY(20%);color:rgba(128, 128, 128, 0.6);font-size: 30px;font-weight:500;"
                            class="ri-corner-right-down-line"></i></h1>
                    <div class="slide" title="Hold to Pause">
                        <div class="overlay"></div>
                        <div class="slider">
                            <div class="box">
                                <img style="scale: 1.2;" src="/images/warehouse.png">
                                <p>Warehouse</p>
                            </div>
                            <div class="box">
                                <img style="scale: 1.1;" src="/images/flameable.png">
                                <p>flameble material storage</p>
                            </div>
                            <div class="box">
                                <img style="scale: 1.2;" src="/images/factories.png">
                                <p>factories</p>
                            </div>
                            <div class="box">
                                <img style="scale: 1.2;" src="/images/school.png">
                                <p>Schools</p>
                            </div>
                            <div class="box">
                                <img src="/images/hosptial.png">
                                <p>hospitals</p>
                            </div>
                            <div class="box">
                                <img style="scale: 1.3;" src="/images/mall.png">
                                <p>malls</p>
                            </div>
                            <div class="box">
                                <img src="/images/commercial-building.png">
                                <p>commercial building</p>
                            </div>
                            <div class="box">
                                <img src="/images/manufacturing.png">
                                <p>manufacturing facilities</p>
                            </div>
                        </div>
                        <div class="slider">
                            <div class="box">
                                <img style="scale: 1.2;" src="/images/warehouse.png">
                                <p>Warehouse</p>
                            </div>
                            <div class="box">
                                <img style="scale: 1.1;" src="/images/flameable.png">
                                <p>flameble material storage</p>
                            </div>
                            <div class="box">
                                <img style="scale: 1.2;" src="/images/factories.png">
                                <p>factories</p>
                            </div>
                            <div class="box">
                                <img style="scale: 1.2;" src="/images/school.png">
                                <p>Schools</p>
                            </div>
                            <div class="box">
                                <img src="/images/hosptial.png">
                                <p>hospitals</p>
                            </div>
                            <div class="box">
                                <img style="scale: 1.3;" src="/images/mall.png">
                                <p>malls</p>
                            </div>
                            <div class="box">
                                <img src="/images/commercial-building.png">
                                <p>commercial building</p>
                            </div>
                            <div class="box">
                                <img src="/images/manufacturing.png">
                                <p>manufacturing facilities</p>
                            </div>
                        </div>
                    </div>
                    <div class="installation-services">
                        <h2>installation sevices</h2>
                        <p>Delmont Fire & Safety LLC’s technical team and field superintendents are experienced
                            consultants
                            who are well prepared to meet your requests during construction according to project
                            guidelines.
                        </p>
                        <br>
                        <p>Our installation crews are efficient, orderly, and cooperative on the job site. We are
                            staffed to
                            maintain top performance and adhere to deadlines while providing the highest quality
                            product.
                        </p>
                    </div>

                    <div class="services-buttons">
                        <button class="more-services-btn">Show more about our services</button>
                    </div>
                    <div class="more-services">
                        <h1>Design Services</h1>
                        <p> Our design department has the knowledge and expertise to create advanced systems for your
                            projects using the latest UAE code book guidelines. We have the skills, credentials, and
                            experience necessary to handle complex fire protection systems according to your needs.
                            <br>
                            <br>
                            We can and have designed for:
                            <br>
                            <br>
                        <ul>
                            <li>
                                <p>Industrial warehouses</p>
                            </li>
                            <li>
                                <p>Flammable Materials Storage</p>
                            </li>
                            <li>
                                <p>Factories</p>
                            </li>
                            <li>
                                <p>Manufacturing Facilities</p>
                            </li>
                            <li>
                                <p>Commercial Buildings</p>
                            </li>
                            <li>
                                <p>Schools</p>
                            </li>
                            <li>
                                <p>Hospitals</p>
                            </li>
                            <li>
                                <p>Malls</p>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="section-3">
                    <h1>about us <i
                            style="display: inline-block;transform: translateY(20%);color:rgba(128, 128, 128, 0.6);font-size: 30px;font-weight:500;"
                            class="ri-corner-right-down-line"></i></h1>
                    <h2>Delmont - for fire protection & safety solutions</h2>
                    <p>Established in the year 2016, Delmont Fire & Safety LLC is Dubai Civil Defense Approved, UAE
                        based
                        (A+ Grade) fire detection and protection system installation and maintenance company.</p>
                    <br>
                    <p>At Delmont, our main objective is ensuring our customers are provided with the best solutions.
                        From a
                        project-managed installation to servicing and maintenance, we tailor our services to the exact
                        requirements of your projects. We provide services to our clients around the clock throughout
                        the
                        year. With a team of highly experienced & qualified Engineers & Technicians trained to handle
                        all
                        types of fire protection systems, Delmont provides businesses with a complete professional Fire
                        protection service.</p>
                    <div class="more-buttons">
                        <a href="/about"><button>more about us</button></a>
                    </div>
                </div>
                <div class="section-4">
                    <h1>collaborations<i
                            style="display: inline-block;transform: translateY(20%);color:rgba(128, 128, 128, 0.6);font-size: 30px;font-weight:500;"
                            class="ri-corner-right-down-line"></i></h1>
                    <div class="wrapper">
                        <img src="/images/approvals.jpg">
                    </div>
                </div>
            </section>
            <%-include('footer')%>
    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let clutter = ""
    let text = document.querySelector(".hero p").textContent.split(" ");
    text.forEach((span) => {
        clutter += `<span> ${span} </span>`
    })
    document.querySelector(".hero p").innerHTML = clutter
    let tl = gsap.timeline()
    tl.from(".hero h1", {
        rotate: `5deg`,
        y: 120,
        stagger: 0.1,
        // duration:0.4
    })
    tl.from(".hero p span", {
        opacity: 0,
        y: 100,
        stagger: 0.05,
        duration: 0.7,
        delay: -0.7
    })
    tl.from(".hero .buttons button", {
        opacity: 0
    })
    gsap.from("section", {
        opacity: 0,
        delay: 0.3
    })



    document.querySelector(".slide").addEventListener("mousedown", () => {
        // alert()
        document.querySelectorAll(".slider").forEach((slider) => {
            slider.style.animationPlayState = `paused`
        })
        document.querySelector(".slide").style.cursor = `grabbing`
    })
    document.querySelector(".slide").addEventListener("mouseup", () => {
        document.querySelectorAll(".slider").forEach((slider) => {
            slider.style.animationPlayState = `running`
        })
        document.querySelector(".slide").style.cursor = `grab`

    })
    document.querySelector(".slide").addEventListener("mouseleave", () => {
        document.querySelectorAll(".slider").forEach((slider) => {
            slider.style.animationPlayState = `running`
        })
        document.querySelector(".slide").style.cursor = `grab`

    })
    const contentDiv = document.querySelector('.more-services');
    const contentHeight = contentDiv.scrollHeight + "px";
    let moreServicesBtn = document.querySelector(".more-services-btn")
    let sts = false
    moreServicesBtn.addEventListener("click", () => {
        if (sts) {
            moreServicesBtn.textContent = "Show more About our services"
            gsap.to(".more-services", {
                height: 0,
            })
            sts = false
        }
        else {
            moreServicesBtn.textContent = "Show Less About our services"
            gsap.to(".more-services", {
                height: contentHeight,
            })
            sts = true
        }
    })
</script>

</html>