<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PR - Delmont Fire and Safety</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/essentials.css">
    <link rel="stylesheet" href="/stylesheets/pr.css">
</head>

<body>
    <main>
        <%- include("header")%>
            <section>
                <div class="title">
                    <h1>DUBAI ENGINEER AT 23, BOSS OF A FIRE SAFETY BUSINESS AT 33: AN INDIAN EXPAT’S TALE</h1>
                    <p class="p-center" >My entrepreneurial dream came true at a young age in the UAE: Indian expat reveals how</p>
                </div>
                <div class="cover cover-space cover-part">
                    <div class="left">
                        <img src="/images/pr-1.jpg">
                        <p class="dark-p">Dubai engineer at 23, boss of a fire safety business at 33: Indian expat Pushkar Thakkar reveals how.</p>
                    </div>
                    <div class="right">
                        <p><span>Pushkar Thakkar</span>, 39, was a young engineering graduate from India when he came to Dubai in 2006. Earning a monthly salary of Dh 2,500 at his first job, Thakkar achieved his dream to be an entrepreneur in 10 years after starting a firefighting business in the UAE in 2016.</p>
                        <h1>FROM A VERY YOUNG AGE, THAKKAR’S VISION WAS ALWAYS TO BE A SUCCESSFUL ENTREPRENEUR, SOMEDAY.</h1>
                        <p>“My first job in Dubai was at a swimming pool construction and maintenance company, had nothing to do with my educational background, but it suited my desperate job-related needs at the time.</p><br>
                        <p>“Soon after, I joined a fire fighting company in its sales division and learnt the challenges of the market and the knack to deal with those. This laid a solid foundation to realising my goal of being an entrepreneur,” Thakkar added.</p><br>
                    </div>
                </div>
                <div class="cover">

                    <p>“This opportunity helped me set my foot in this city and understand the market. It also helped me develop many contacts, many of whom I am still working with today. I was confident that this industry will always have the potential to flourish since it falls under necessity and not luxury.”</p><br>
                    <p>In about four years, Thakkar decided to venture out on his own. “It was always my dream to become an entrepreneur, and once I was confident about my market knowledge in this city, I decided to take the leap of faith.”</p><br>
                    <p>Thakkar’s colleague, a technical expert in the same field, decided to join hands and together, they started Delmont Fire & Safety in Ras Al Khor Industrial area in 2016.</p>
                </div>
                <div class="cover .cover-space">
                    <h1>ENTREPRENEURIAL BEGINNINGS OF A FIRE AND SAFETY BUSINESS OWNER</h1>
                    <p>Hailing from a middle-class family, Thakkar’s entrepreneurial journey began by learning a few critical lessons from his father – a small business owner – and his mother, who taught him how to use and invest money wisely.</p><br>
                    <p>“In my growing years, whenever I asked for money, I would only get it if it was well within reason. I don’t think the term ‘pocket money’ ever existed with any middle-class family back then,” said Thakkar.</p><br>
                    <p>“My dad owned his own business, we have seen both the ups and downs, and so somewhere we were well prepared to deal with the success and challenges of business.</p><br>
                    <p>“My mother was very strict since I was an extremely naughty kid and would keep demanding new things all the time. But, she would give me Rs5 (25fils) every week to buy my favourite snack at my school canteen in Mumbai, India. What I learned from this was when you wait for something you love, the value only increases multifold.”</p>
                </div>
                <div class="cover cover-part cover-space">
                    <div class="left">
                        <img src="/images/pr-2.jpg">
                        <p class="dark-p">The business was self-funded by Thakkar and his partner Murugan Rajaraman; they invested Dh140,000 to launch the company.</p>
                    </div>
                    <div class="right">
                        <h1>HOW DID YOU MANAGE FUNDING FOR INITIAL EXPENSES TO SET UP A BUSINESS IN DUBAI?</h1>
                        <p>“When we started, we knew we had to be very mindful about our expenses as we were putting almost all of our savings into this. We had decided to have a small office set up, visa expenses for our first five technicians, investing in some machines to thread the fire-fighting pipes and so on.”</p><br>
                        <p>“The money we put in the business was from our respective career savings, amassed while working at our previous jobs. Since I already had a plan of starting my business someday, I was anyway saving 40 per cent of my income in various verticals. My partner, too, was of the same ideology when it came to savings and investments. So this helped us when we decided to start our own business.</p>
                    </div>
                </div>
                <div class="cover">
                    <p>Besides that, there were also expenses for obtaining the trade licence. These include trade licence and office set up cost (Dh30,000 for the first year), visa expenses for the team (Dh40,000), machinery expenses (Dh20,000), and other requirements such as office van for transportation etc., which came to Dh50,000, Thakkar revealed.</p><br>
                    <h2>Lesson #1: Don’t pobrcket profits in the starting years of business; instead, invest the money you earned back in your business.</h2>
                    <p>Thakkar stated that one should not expect profits for at least the first three years from a new business.</p><br>
                    <p>“The rule I learnt from my father was to keep investing the money you earn for the first few years in your business itself. Set aside money for taxes and other unforeseen expenses. And keep your overheads as minimal as possible.”</p>
                </div>
            </section>
            <%- include("footer")%>

    </main>

</body>

</html>