.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title>h1:nth-child(1){
    text-align: center;
    /* letter-spacing: 0.1vw; */
    line-height: 1.3 !important;
    scale: 1.1;
}
h1{
    letter-spacing: 0.05vw;
    line-height: 1.3 !important;
}
h2{
    font-weight: 500 !important;
    font-size: 23px !important;
}
p{
    line-height: 1.3 !important;
    font-size: 16.5px !important;
    text-align: left !important;
}
.p-center{
    text-align: center !important;
}
p span{
    color: var(--primary-color);
    font-weight: 600;
}
.cover-space{
    margin-top: 7vw;
}
.cover-part{
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    gap: 4vw;
}

.cover{
    padding:1vw 2vw;
}
.cover-part>div{
    width: 50%;
}
.left img{
    width: 100%;
}
.dark-p{
    color: var(--black);
    font-weight: 600;
}

@media (max-width:775px) {
    .cover-part{
        flex-direction: column;
    }
    .cover-part>div{
        width: 100%;
    }
}