.background {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
  perspective: 200px;
  background: url("../images/product-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}
.background .slider {
  align-items: center;
  justify-content: start;
  display: flex;
  gap: 10vw;
  scale: 0.6;
  transform: rotateX(5deg);
}
.background .img-wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background .img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul {
  color: white !important;
}
.h1-wrapper {
  overflow: hidden;
}
h1 span {
  display: inline-block;
  color: white;
}
h1 {
  font-size: 10vw !important;
  margin-top: 4vw;
  margin-bottom: 2vw;
}
section h2 {
  color: var(--primary-color) !important;
  text-shadow: 1px 1px 1px #000;
}
section p {
  color: white !important ;
  font-weight: 500;
  text-shadow: 1px 1px 1px #000;
}
._80 {
  width: 80%;
}

.faq {
  margin-top: 4vw;
  /* backdrop-filter: blur(5px); */
  padding: 4vw 0;
}
.faq-text {
  color: #fff !important;
  font-size: 3vw !important;
}
.faq .wrapper {
  margin-top: 2vw;
}
@media (max-width: 500px) {
  .faq-text{
    font-size: 8vw !important;
  }
  .background {
    filter: brightness(40%);
  }
  h1 {
    font-size: 16vw !important;
    margin-top: 20vw;
    margin-bottom: 10vw;
  }
  .background .img-wrapper {
    height: 40vh;
    width: 120vw;
    filter: brightness(100%);
  }
  .background .slider {
    scale: 0.6;
    transform: translateY(-50%);
  }
  ._80 {
    width: 100%;
  }
  .faq {
    margin-top: 8vw;
    padding: 4vw 1vw ;
  }
}
